site_name: Isomorphic Layout Composer
site_author: Namecheap, Inc

theme:
  name: material
  favicon: brand/vector/isolated-monochrome-black.svg
  logo: brand/vector/isolated-monochrome-white.svg
  icon:
    repo: fontawesome/brands/github
  palette:
    primary: indigo
    accent: deep purple
  features:
    - navigation.sections
    - navigation.tabs
    - navigation.top

repo_url: https://github.com/namecheap/ilc
repo_name: namecheap/ilc

nav:
  - Home:
    - Home: index.md
    - Contributing: CONTRIBUTING.md
  - Demo website: http://ilc-demo.namecheap.technology
  - Documentation:
    - Overview: docs/overview.md
    - Fundamentals:
      - Micro-frontend Types: docs/microfrontend-types.md
      - ILC to App interface: docs/ilc_app_interface.md
      - ILC Registry: docs/registry.md
      - Global API: docs/global_api.md
    - Working with ILC:
      - Animation during reroute: docs/animation_during_reroute.md
      - Global error handling: docs/global_errors_handling.md
      - Internationalization: docs/i18n.md
      - Develop at Production: docs/develop_at_production.md
      - Compatibility with legacy UMD bundles: docs/umd_bundles_compatibility.md
      - ILC transition hooks: docs/transition_hooks.md
      - Multi-domains: docs/multi-domains.md
      - How-to Guides:
          - App deploy with React + ILC:
            - Lesson 1: docs/stepbystep/react/lesson1.md
            - Lesson 2: docs/stepbystep/react/lesson2.md
            - Lesson 3: docs/stepbystep/react/lesson3.md
            - Lesson 4: docs/stepbystep/react/lesson4.md
    - Routing:
      - Introduction: docs/routing/introduction.md
      - Route configuration: docs/routing/route_configuration_options.md
      - Route matching patterns: docs/routing/route_matching_patterns.md
      - Route transition and animation: docs/routing/route_transition_and_animation.md
      - i18n & trailing slash: docs/routing/localization_and_trailing_slash.md
      - Special routes: docs/routing/special_routes.md
    - Advanced features:
      - Parcels: docs/parcels.md
      - Plugins: https://github.com/namecheap/ilc-plugins-sdk
      - App Wrappers: docs/app_wrappers.md
    - External resources:
      - Demo applications used in quick start: https://github.com/namecheap/ilc-demo-apps
      - SDK for ILC plugins development: https://github.com/namecheap/ilc-plugins-sdk
      - Public Path Problem: https://namecheap.github.io/ilc-sdk/pages/Pages/public_path.html
  - Legal:
    - Notice: NOTICE.md
    - License: LICENSE.md

markdown_extensions:
  - admonition
  - attr_list
  - toc:
      permalink: ⚓︎
  - pymdownx.details
  - pymdownx.magiclink
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search
  - macros

extra:
  repo:
    full_url: https://github.com/namecheap/ilc/blob/master

extra_css:
  - docs/assets/styles/styles.css

docs_dir: '.mkdocs'
site_dir: 'mkdocs_dist'
