.films {
  display: flex;
  flex-wrap: wrap;
}

.film {
  width: 216px;
  height: 384px;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.filmPoster {
  max-width: 100%;
  max-height: 100%;
}

.filmOverlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--white-overlay);
  border-radius: 25px;
  color: var(--black);
}
